.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #F5F5F5;
}

.label {
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #005EA6;
}